@charset "utf-8";
/* common class */
.area{position: relative;width: 1220px;margin: 0 auto;padding: 0 20px;}
.title{position: absolute;top: 0;left: 20px;display: inline-block;font-size: 31.59px;line-height: 1;color: #777777;border-left: 4px solid #777777;padding-left: 10px;transform: rotate(90deg);transform-origin: left bottom;margin-top: -31.59px;}

body{position: relative;}
#header{height: 80px;}
#header .top{height: 20px;background: #474747;color: #ffffff;font-size: 11.84px;line-height: 1;}
#header .top .area{}
#header .top .area:after{content: "";display: block;clear: both;}
#header .top .area ul{padding: 4.08px 0;}
#header .top .area ul li{float: left;}
#header .top .area ul li:first-child{padding-right: 10px;margin-right: 10px;border-right: 1px solid #fff;}
#header .top .area .info{float: left;}
#header .top .area .info li{}
#header .top .area .sign{float: right;}
#header .top .area .sign li{}
#header .top .area .sign li a{display: block;}

#header .menu{height: 60px;background: rgba(255,255,255.75);border-bottom: 1px solid #474747;}
#header .menu .area{}
#header .menu .area ul{text-align: center;font-size: 0;}
#header .menu .area ul li{display: inline-block;vertical-align: middle;width: 180px;margin: 0 10px;}
#header .menu .area ul li a{display: block;line-height: 60px;font-size: 16px;color: #777777;transition: font-weight 0.5s;}
#header .menu .area ul li a:hover{font-weight: bold;}
#header .menu .area ul .logo a{display: block;}
#header .menu .area ul .logo a img{display: block;width: 180px;}

#section01{position: absolute;top: 20px;left: 0;z-index: -1;display: table;width: 100%;height: 540px;background-image: url(../images/h3-slider1-background.jpg);background-size: cover;background-position: 50%;}
#section01 .center_box{display: table-cell;vertical-align: middle;text-align: center;color: #ffffff;}
#section01 .center_box p{font-family: "Josefin Slab"; font-size: 30px;}
#section01 .center_box h1{font-family: "Great Vibes";font-size: 89.9px;}

#section02{height: 660px;margin-top: 480px;padding: 40px 0;color: #777777;background-image: url(../images/section_deco_left.png), url(../images/section_deco_right.png);background-repeat: no-repeat, no-repeat;background-attachment: fixed, fixed;background-position: left top, right 70%;background-size: auto 240px, auto 190px;}
#section02 .area{text-align: right;}
#section02 .area .title{}
#section02 .area ul{display: inline-block;width: 980px;/* background: pink; */text-align: left;}
#section02 .area ul li{display: table;width: 100%;height: 180px;/* background: #ffffaa; */font-size: 0;}
#section02 .area ul li:nth-child(2){margin: 20px 0;}
#section02 .area ul li .center_box{display: table-cell;vertical-align: middle;}
#section02 .area ul li .center_box img{display: inline-block;vertical-align: middle;width: 100px;}
#section02 .area ul li .center_box .txt{position: relative;display: inline-block;vertical-align: middle;width: 780px;margin-left: 100px;}
#section02 .area ul li .center_box .txt h3{font-family: "Great Vibes";font-size: 29.94px;}
#section02 .area ul li .center_box .txt .bar{width: 80px;height: 2px;background: #ce967a;margin: 5px 0;}
#section02 .area ul li .center_box .txt p{font-size: 16px;word-break: keep-all;}
#section02 .area ul li .center_box .txt p span{font-weight: bold;}
#section02 .area ul li .center_box .txt a{position: absolute;bottom: 0;right: 10px;display: block;font-size: 15.97px;color: #ce967a;text-align: right;}

#section03{display: table;width: 100%;height: 180px;background-image: url(../images/h3-bacground-img-5.jpg);background-size: cover;background-position: 50%;}
#section03 .center_box{display: table-cell;vertical-align: middle;text-align: center;color: #ffffff;}
#section03 .center_box strong{font-size: 36px;font-weight: normal;}
#section03 .center_box p{font-size: 16.19px;}

#section04{height: 580px;padding: 40px 0;}
#section04 .area{}
#section04 .area .title{}
#section04 .area ul{text-align: center;font-size: 0;}
#section04 .area .top{padding-bottom: 20px;}
#section04 .area ul li{display: inline-block;vertical-align: middle;width: 380px;height: 240px;background-size: cover;background-position: 50%;margin: 0 10px;}
#section04 .area .top li:nth-child(1){background-image: url(../images/h-img12.jpg);}
#section04 .area .top li:nth-child(2){background-image: url(../images/h-img13.jpg);}
#section04 .area .btn li:nth-child(1){background-image: url(../images/h3-bacground-img-4-1.jpg);margin-left: 0;}
#section04 .area .btn li:nth-child(2){background-image: url(../images/h-img14.jpg);}
#section04 .area .btn li:nth-child(3){background-image: url(../images/h-img16.jpg);margin-right: 0;}

#section05{height: 550px;background-image: url(../images/h-img23.jpg);background-size: cover;background-position: 50%;}
#section05 .dark_bg{height: 100%;padding: 40px 0;background: rgba(0,0,0,.5);}
#section05 .dark_bg .area{text-align: right;}
#section05 .dark_bg .area .title{color: #ffffff;border-left-color: #ffffff;}
#section05 .dark_bg .area ul{display: inline-block;width: 980px;color: #ffffff;text-align: left;}
#section05 .dark_bg .area ul li{font-size: 0;}
#section05 .dark_bg .area ul li:first-child{padding-bottom: 35px;margin-bottom: 35px;border-bottom: 1px solid #fff;}
#section05 .dark_bg .area ul li .img_box{display: inline-block;vertical-align: middle;width: 280px;height: 200px;background-size: cover;background-position: 50%;}
#section05 .dark_bg .area ul li:nth-child(1) .img_box{background-image: url(../images/h-img3.jpg);margin-right: 20px;}
#section05 .dark_bg .area ul li:nth-child(2) .img_box{background-image: url(../images/h-img4.jpg);margin-left: 20px;}
#section05 .dark_bg .area ul li .txt{display: inline-block;vertical-align: middle;width: 680px;} /* width: (100% - 380px);? */
#section05 .dark_bg .area ul li .txt h3{font-weight: normal;font-size: 30px;font-family: "Great Vibes";}
#section05 .dark_bg .area ul li .txt strong{font-weight: normal;font-size: 20px;font-family: "Josefin Slab";}
#section05 .dark_bg .area ul li .txt .bar{width: 80px;height: 2px;background: #ffffff;margin: 5px 0;}
#section05 .dark_bg .area ul li .txt p{font-size: 16px;}

#section06{height: 460px;padding: 40px 0;background-image: url(../images/section_deco_left_01.png), url(../images/section_deco_right_01.png);background-repeat: no-repeat, no-repeat;background-attachment: fixed, fixed;background-position: left top, right 35%;background-size: auto 250px, auto 250px;} /* background-size: ; 크기? */
#section06 .area{}
#section06 .area .title{}
#section06 .area ul{}
#section06 .area ul:after{content: "";display: block;clear: both;}
#section06 .area ul li{float: left;width: 280px;height: 380px;padding: 20px;margin-right: 20px;background-size: cover;background-position: 50%;color: #777777;word-break: keep-all;}
#section06 .area ul li:nth-child(2){background-image: url(../images/h-img32.jpg);}
#section06 .area ul li:nth-child(3){background-image: url(../images/h-img33.jpg);}
#section06 .area ul li:nth-child(4){background-image: url(../images/h-img34.jpg);margin-right: 0;}
#section06 .area ul li:first-child{position: relative;padding: 0;}
#section06 .area ul li:first-child p{position: absolute;bottom: 20px;left: 0;width: 100%;font-size: 14px;letter-spacing: -0.5px;} /* font-size: 16px;word-break: keep-all;? */
#section06 .area ul li .white_bg{display: table;width: 100%;height: 100%;background: rgba(255,255,255,.9);}
#section06 .area ul li .white_bg .center_box{display: table-cell;vertical-align: middle;text-align: center;}
#section06 .area ul li .white_bg .center_box h3{font-family: "Great Vibes";font-size: 23.82px;font-weight: normal;color: #ce967a;}
#section06 .area ul li .white_bg .center_box .date{font-size: 12px;}
#section06 .area ul li .white_bg .center_box .bar{display: inline-block;width: 80px;height: 2px;margin: 20px 0 18px;background: #ce967a;}
#section06 .area ul li .white_bg .center_box .des{font-size: 13.94px;}

#section07{display: table;width: 100%;height: 560px;background-image: url(../images/h-img18.jpg);background-size: cover;background-position: 50%;}
#section07 .center_box{display: table-cell;vertical-align: middle;text-align: center;color: #777777;}
#section07 .center_box h2{font-family: "Great Vibes";font-size: 59.93px;}
#section07 .center_box .bar{display: inline-block;width: 180px;height: 2px;margin: 20px 0 18px;background: #777777;}
#section07 .center_box p{font-size: 16.19px;padding-bottom: 40px;}
#section07 .center_box form{}
#section07 .center_box form div{font-size: 20px;color: #5c5c5c;margin-bottom: 20px;}
#section07 .center_box form div:nth-child(3){margin-bottom: 15px;}
#section07 .center_box form div:nth-child(4){margin-bottom: 0;}
#section07 .center_box form div input{width: 580px;height: 40px;border: 1px solid #000;border-radius: 4px;background: #ffffff;padding-left: 20px;}
#section07 .center_box form div button{width: 180px;height: 65px;background: #ce967a;border-radius: 4px;color: #ffffff;}

#section08{height: 300px;padding: 40px 0;}
#section08 .area{text-align: right;}
#section08 .area .title{}
#section08 .area ul{display: inline-block;}
#section08 .area ul:after{content: "";display: block;clear: both;}
#section08 .area ul li{float: left;width: 180px;height: 220px;margin: 0 10px;}
#section08 .area ul li:last-child{margin-right: 0;}
#section08 .area ul li a{display: block;height: 100%;background-size: contain;background-position: 50%;background-repeat: no-repeat;transition: background-image 0.5s;}
#section08 .area ul li:nth-child(1) a{background-image: url(../images/client-1-1.png);}
#section08 .area ul li:nth-child(2) a{background-image: url(../images/client-4-1.png);}
#section08 .area ul li:nth-child(3) a{background-image: url(../images/client-5-1.png);}
#section08 .area ul li:nth-child(4) a{background-image: url(../images/client-7-1.png);}
#section08 .area ul li:nth-child(5) a{background-image: url(../images/client-8.png);}
#section08 .area ul li:nth-child(1) a:hover{background-image: url(../images/client-1-haver.png);}
#section08 .area ul li:nth-child(2) a:hover{background-image: url(../images/client-4-haver.png);}
#section08 .area ul li:nth-child(3) a:hover{background-image: url(../images/client-5-haver.png);}
#section08 .area ul li:nth-child(4) a:hover{background-image: url(../images/client-7-haver.png);}
#section08 .area ul li:nth-child(5) a:hover{background-image: url(../images/client-8-haver.png);}

#footer{display: table;width: 100%;height: 60px;background: #000000;text-align: center;}
#footer .center_box{display: table-cell;vertical-align: middle;}
#footer .center_box img{display: inline-block;vertical-align: middle;height: 40px;}
#footer .center_box span{display: inline-block;vertical-align: middle;font-size: 14px;line-height: 40px;color: #ffffff;}
#footer .center_box img:last-child{transform: rotateY(180deg);}